.bg-primary {
	background: #009688 !important;
}

.banner{
	width: 100%;
	height: 93vh;
	background: url(../Image/Banner.jpg);
	background-size: cover;
	color: white;
}

.btn {
	background: cadetblue;
}

.my-card{
	width: 400px;
	height: 650px;
	margin: 0 auto;
	padding: 10px;
	background: navajowhite;
}

.form-group{
	margin-bottom: 20px;
}






